In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 

%matplotlib inline

In [2]:
df = pd.read_excel(r"C:\Users\Er_luciferR.LUC\Downloads\flight_price.xlsx")
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [4]:
df.shape

(10683, 11)

## . Data Checks to perform

- Check Missing Values
- Check data types
- Check the number of unique values of each columns 
- Check Statistics of the dataset
- Check various categories present in the different colunms

In [5]:
#Finding and Imputing Missing Values
df.isna().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [6]:
df[df['Route'].isnull()]

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
9039,Air India,6/05/2019,Delhi,Cochin,NaN,09:45,09:25 07 May,23h 40m,NaN,No info,7480

In [7]:
df[df['Total_Stops'].isna()]

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
9039,Air India,6/05/2019,Delhi,Cochin,NaN,09:45,09:25 07 May,23h 40m,NaN,No info,7480

In [8]:
#Using mode Imputation technique because categorical variables present in column
mode_R = df['Route'].mode()[0]
mode_R

'DEL → BOM → COK'

In [9]:
df['route'] = df['Route'].fillna(value  = mode_R   )

In [10]:
df['route'].isna().sum()

0

In [11]:
mode_TS = df['Total_Stops'].mode()[0]
mode_TS

'1 stop'

In [12]:
df['total_Stops'] = df['Total_Stops'].fillna(value  = mode_TS )

In [13]:
df.drop(['Route','Total_Stops'], axis = 1, inplace = True)

In [14]:
#Missing values handled
df.isna().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Dep_Time           0
Arrival_Time       0
Duration           0
Additional_Info    0
Price              0
route              0
total_Stops        0
dtype: int64

In [15]:
df.head(2)

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration,Additional_Info,Price,route,total_Stops
0,IndiGo,24/03/2019,Banglore,New Delhi,22:20,01:10 22 Mar,2h 50m,No info,3897,BLR → DEL,non-stop
1,Air India,1/05/2019,Kolkata,Banglore,05:50,13:15,7h 25m,No info,7662,CCU → IXR → BBI → BLR,2 stops

In [16]:
#Splitting Date_of_Journey in respect to day, month and year
df['Day_of_Journey'] = df['Date_of_Journey'].str.split('/').str[0]
df['Month_of_Journey'] = df['Date_of_Journey'].str.split('/').str[1]
df['Year_of_Journey'] = df['Date_of_Journey'].str.split('/').str[2]
df.drop('Date_of_Journey' , axis= 1 , inplace = True)

In [17]:
df.head()

,Airline,Source,Destination,Dep_Time,Arrival_Time,Duration,Additional_Info,Price,route,total_Stops,Day_of_Journey,Month_of_Journey,Year_of_Journey
0,IndiGo,Banglore,New Delhi,22:20,01:10 22 Mar,2h 50m,No info,3897,BLR → DEL,non-stop,24,03,2019
1,Air India,Kolkata,Banglore,05:50,13:15,7h 25m,No info,7662,CCU → IXR → BBI → BLR,2 stops,1,05,2019
2,Jet Airways,Delhi,Cochin,09:25,04:25 10 Jun,19h,No info,13882,DEL → LKO → BOM → COK,2 stops,9,06,2019
3,IndiGo,Kolkata,Banglore,18:05,23:30,5h 25m,No info,6218,CCU → NAG → BLR,1 stop,12,05,2019
4,IndiGo,Banglore,New Delhi,16:50,21:35,4h 45m,No info,13302,BLR → NAG → DEL,1 stop,01,03,2019

In [18]:
#Spliting Arrival Time into Hours and minutes
df['Arrival_Time'] = df['Arrival_Time'].apply(lambda x : x.split(' ')[0])
df['Arrival_hrs'] = df['Arrival_Time'].str.split(':').str[0]
df['Arrival_mins'] =  df['Arrival_Time'].str.split(':').str[1]
df.drop('Arrival_Time' , axis= 1 , inplace = True)

In [19]:
df.head()

,Airline,Source,Destination,Dep_Time,Duration,Additional_Info,Price,route,total_Stops,Day_of_Journey,Month_of_Journey,Year_of_Journey,Arrival_hrs,Arrival_mins
0,IndiGo,Banglore,New Delhi,22:20,2h 50m,No info,3897,BLR → DEL,non-stop,24,03,2019,01,10
1,Air India,Kolkata,Banglore,05:50,7h 25m,No info,7662,CCU → IXR → BBI → BLR,2 stops,1,05,2019,13,15
2,Jet Airways,Delhi,Cochin,09:25,19h,No info,13882,DEL → LKO → BOM → COK,2 stops,9,06,2019,04,25
3,IndiGo,Kolkata,Banglore,18:05,5h 25m,No info,6218,CCU → NAG → BLR,1 stop,12,05,2019,23,30
4,IndiGo,Banglore,New Delhi,16:50,4h 45m,No info,13302,BLR → NAG → DEL,1 stop,01,03,2019,21,35

In [38]:
#converting in integer dtypes
df['Arrival_hrs'] = df['Arrival_hrs'].astype(int)
df['Arrival_mins'] =  df['Arrival_mins'].astype(int)
df['Day_of_Journey'] = df['Day_of_Journey'].astype(int)
df['Month_of_Journey'] = df['Month_of_Journey'].astype(int)
df['Year_of_Journey'] = df['Year_of_Journey'].astype(int)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Airline           10683 non-null  object
 1   Source            10683 non-null  object
 2   Destination       10683 non-null  object
 3   Additional_Info   10683 non-null  object
 4   Price             10683 non-null  int64
 5   route             10683 non-null  object
 6   total_Stops       10683 non-null  object
 7   Day_of_Journey    10683 non-null  int32
 8   Month_of_Journey  10683 non-null  int32
 9   Year_of_Journey   10683 non-null  int32
 10  Arrival_hrs       10683 non-null  int32
 11  Arrival_mins      10683 non-null  int32
 12  Dep_Hrs           10683 non-null  int32
 13  Dep_Mins          10683 non-null  int32
 14  Duration_hrs      10683 non-null  object
 15  Duration_mins     9651 non-null   object
dtypes: int32(7), int64(1), object(8)
memory usage: 1.0+ MB

In [22]:
#Splitting Dep_time into hrs and minute
df['Dep_Hrs'] = df['Dep_Time'].str.split(':').str[0]
df['Dep_Mins'] = df['Dep_Time'].str.split(':').str[1]
df.drop('Dep_Time' , axis= 1 , inplace = True)

In [40]:
df.head()

,Airline,Source,Destination,Additional_Info,Price,route,total_Stops,Day_of_Journey,Month_of_Journey,Year_of_Journey,Arrival_hrs,Arrival_mins,Dep_Hrs,Dep_Mins,Duration_hrs,Duration_mins
0,IndiGo,Banglore,New Delhi,No info,3897,BLR → DEL,non-stop,24,3,2019,1,10,22,20,2,50
1,Air India,Kolkata,Banglore,No info,7662,CCU → IXR → BBI → BLR,2 stops,1,5,2019,13,15,5,50,7,25
2,Jet Airways,Delhi,Cochin,No info,13882,DEL → LKO → BOM → COK,2 stops,9,6,2019,4,25,9,25,19,NaN
3,IndiGo,Kolkata,Banglore,No info,6218,CCU → NAG → BLR,1 stop,12,5,2019,23,30,18,5,5,25
4,IndiGo,Banglore,New Delhi,No info,13302,BLR → NAG → DEL,1 stop,1,3,2019,21,35,16,50,4,45

In [32]:
#Splitting Duration into hrs and minute
df['Duration_hrs'] = df['Duration'].str.split(' ').str[0].str.split('h').str[0]
df['Duration_mins'] = df['Duration'].str.split(' ').str[1].str.split('m').str[0]
df.drop('Duration' , axis= 1 , inplace = True)

In [41]:
df['Dep_Hrs'] = df['Dep_Hrs'].astype(int)
df['Dep_Mins'] =  df['Dep_Mins'].astype(int)
#df['Duration_hrs'] = df['Duration_hrs'].astype(int)
#df['Duration_mins'] = df['Duration_mins'].astype(int)

In [48]:
df.head()

,Airline,Source,Destination,Additional_Info,Price,route,total_Stops,Day_of_Journey,Month_of_Journey,Year_of_Journey,Arrival_hrs,Arrival_mins,Dep_Hrs,Dep_Mins,Duration_hrs,Duration_mins
0,IndiGo,Banglore,New Delhi,No info,3897,BLR → DEL,non-stop,24,3,2019,1,10,22,20,2,50
1,Air India,Kolkata,Banglore,No info,7662,CCU → IXR → BBI → BLR,2 stops,1,5,2019,13,15,5,50,7,25
2,Jet Airways,Delhi,Cochin,No info,13882,DEL → LKO → BOM → COK,2 stops,9,6,2019,4,25,9,25,19,NaN
3,IndiGo,Kolkata,Banglore,No info,6218,CCU → NAG → BLR,1 stop,12,5,2019,23,30,18,5,5,25
4,IndiGo,Banglore,New Delhi,No info,13302,BLR → NAG → DEL,1 stop,1,3,2019,21,35,16,50,4,45

In [52]:
df['total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', '4 stops'],
      dtype=object)

In [53]:
#Using Ordinal Encoding for Total_stops
from sklearn.preprocessing import OrdinalEncoder
encoder = OrdinalEncoder( categories=[['non-stop','1 stop','2 stops','3 stops','4 stops']])

In [56]:
total_stops = encoder.fit_transform(df[['total_Stops']])
df['total_stops'] = total_stops

In [60]:
df.drop('total_Stops' , axis= 1 , inplace = True)

In [81]:
#Using OneHot Encoding For Airline , Source , Destination , Additional Info
from sklearn.preprocessing import OneHotEncoder
encode = OneHotEncoder()

In [82]:
encode.fit_transform(df[['Airline','Source','Destination','Additional_Info']]).toarray()

array([[0., 0., 0., ..., 0., 1., 0.],
       [0., 1., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 1., 0., ..., 0., 1., 0.]])

In [83]:
en = pd.DataFrame(encode.fit_transform(df[['Airline','Source','Destination','Additional_Info']]).toarray() , columns=encode.get_feature_names_out())

In [84]:
df1 = pd.concat([df , en] , axis=1 )

In [85]:
#Dropping Unwanted columns
df1.drop(['Airline', 'Source', 'Destination','Additional_Info'] , axis = 1 , inplace=True )

In [ ]:
#Dropping Unwanted columns
df1.drop('route',axis=1,inplace=True)

In [106]:
#Imputing median for missing values in Duration mins
med = df['Duration_mins'].median()

0

In [105]:
df1['duration_mins'] = df1['Duration_mins'].fillna(value= med)

In [108]:
df1.drop('Duration_mins' , axis = 1 , inplace=True)

In [112]:
df1['duration_mins'] = df1['duration_mins'].astype(int)

In [113]:
#DataSet all object converted to int or float 
#Dataset ready for machine learning
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 44 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Price                                         10683 non-null  int64
 1   Day_of_Journey                                10683 non-null  int32
 2   Month_of_Journey                              10683 non-null  int32
 3   Year_of_Journey                               10683 non-null  int32
 4   Arrival_hrs                                   10683 non-null  int32
 5   Arrival_mins                                  10683 non-null  int32
 6   Dep_Hrs                                       10683 non-null  int32
 7   Dep_Mins                                      10683 non-null  int32
 8   Duration_hrs                                  10683 non-null  object
 9   total_stops                                   10683 non-null  float64
 10  Airline_Air Asia                              10683 non-null  float64
 11  Airline_Air India                             10683 non-null  float64
 12  Airline_GoAir                                 10683 non-null  float64
 13  Airline_IndiGo                                10683 non-null  float64
 14  Airline_Jet Airways                           10683 non-null  float64
 15  Airline_Jet Airways Business                  10683 non-null  float64
 16  Airline_Multiple carriers                     10683 non-null  float64
 17  Airline_Multiple carriers Premium economy     10683 non-null  float64
 18  Airline_SpiceJet                              10683 non-null  float64
 19  Airline_Trujet                                10683 non-null  float64
 20  Airline_Vistara                               10683 non-null  float64
 21  Airline_Vistara Premium economy               10683 non-null  float64
 22  Source_Banglore                               10683 non-null  float64
 23  Source_Chennai                                10683 non-null  float64
 24  Source_Delhi                                  10683 non-null  float64
 25  Source_Kolkata                                10683 non-null  float64
 26  Source_Mumbai                                 10683 non-null  float64
 27  Destination_Banglore                          10683 non-null  float64
 28  Destination_Cochin                            10683 non-null  float64
 29  Destination_Delhi                             10683 non-null  float64
 30  Destination_Hyderabad                         10683 non-null  float64
 31  Destination_Kolkata                           10683 non-null  float64
 32  Destination_New Delhi                         10683 non-null  float64
 33  Additional_Info_1 Long layover                10683 non-null  float64
 34  Additional_Info_1 Short layover               10683 non-null  float64
 35  Additional_Info_2 Long layover                10683 non-null  float64
 36  Additional_Info_Business class                10683 non-null  float64
 37  Additional_Info_Change airports               10683 non-null  float64
 38  Additional_Info_In-flight meal not included   10683 non-null  float64
 39  Additional_Info_No Info                       10683 non-null  float64
 40  Additional_Info_No check-in baggage included  10683 non-null  float64
 41  Additional_Info_No info                       10683 non-null  float64
 42  Additional_Info_Red-eye flight                10683 non-null  float64
 43  duration_mins                                 10683 non-null  int32
dtypes: float64(34), int32(8), int64(1), object(1)
memory usage: 3.3+ MB